{% block sidebar %}
	{% set search_label = __( 'Search', 'planet4-master-theme' ) %}
	<nav id="sidebar" class="sidebar-navigation">
		<a class="site-logo" href="{{ data_nav_bar.home_url }}handbook/">
			<img src="{{ data_nav_bar.images }}planet4.png" alt="Planet 4 Handbook"/>
		</a>
		<form id="search_form" action="{{ data_nav_bar.home_url }}" class="form nav-search">
			<input id="search_input" type="search" class="form-control" placeholder="{{ search_label }}"
				   value="{{ data_nav_bar.search_query|e('wp_kses_post')|raw }}" name="s" aria-label="{{ __( 'Search input', 'planet4-master-theme' ) }}">
			<input id="orderby" type="hidden" name="orderby" value="{{ selected_sort ?? default_sort }}"/>
			<button
				class="nav-search-btn"
				aria-label="{{ __( 'Press return/enter or click to search', 'planet4-master-theme' ) }}"
				type="submit"
				data-ga-category="Menu Navigation"
				data-ga-action="Search"
				data-ga-label="{{ page_category }}">
					{% set search_icon = 'search'|svgicon %}
					{% set data_ga_attrs = 'data-ga-category="Menu Navigation" data-ga-action="Search" data-ga-label="' ~ page_category ~ '"' %}
					{{ search_icon|replace({'<svg': "<svg " ~ data_ga_attrs })|raw }}
				<span
					class="visually-hidden"
					data-ga-category="Menu Navigation"
					data-ga-action="Search"
					data-ga-label="{{ page_category }}">
						{{ search_label }}
				</span>
			</button>
		</form>
		<ul class="list-unstyled">
			{% for key,item in navbar_menu.get_items %}
				<li class="nav-item {{ class_name }} {{ item == item.current ? 'active' : '' }}">
					<a class="nav-link {% if item.classes %}{{ item.classes|join(' ')}}{% endif %}" href="{{ item.get_link }}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ item.title }}</a>
					{% if item.get_children %}
						<ul class="list-unstyled">
							{% for child in item.get_children %}
								<li class="nav-item nav-child {{ child == child.current ? 'active' : '' }}">
									<a class="nav-link {% if child.classes %}{{ child.classes|join(' ')}}{% endif %}" href="{{ child.get_link }}" {% if child.target %}target="{{ child.target }}"{% endif %}>{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}
